In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
# To illustrate the order of arguments
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
# January 2nd, 2017
my_date = datetime(my_year,my_month,my_day)

In [5]:
# Defaults to 0:00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
# January 2nd, 2017 at 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [7]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [8]:
my_date_time.day

2

In [9]:
my_date_time.month

1

In [10]:
my_date_time.hour

13

In [11]:
# Create an example datetime list/array
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [12]:
# Converted to an index
dt_ind = pd.DatetimeIndex(first_two)
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [13]:
# Attached to some random data
data = np.random.randn(2,2)
print(data)
cols = ['A','B']

[[-1.38271924  0.3196905 ]
 [-0.02039439  0.17022331]]

In [14]:
df = pd.DataFrame(data,dt_ind,cols)

In [15]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [16]:
# Latest Date Location
df.index.argmax()

1

In [17]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [18]:
# Earliest Date Index Location
df.index.argmin()

0

In [19]:
df.index.min()

Timestamp('2016-01-01 00:00:00')